body {
  background-color: black;
}
#game {
  width: 500px;
  height: 500px;
  background-color: black;
  display: flex;
  
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  
}


.block {
  width: 160px;
  height: 160px;
  background: black;
  position: relative;
  
  /* box-sizing: border-box; */
  line-height: 50px;
  text-align: center;
  align-content: center;
  color: white;
  font-weight: bold;
  font-size: 50px;
  text-overflow: clip ;
  text-transform: uppercase;
  text-align:center;
  

}



.block:nth-child(1) {
    border-bottom: 3px solid white;
    border-right:3px solid white;
}
.block:nth-child(2) {
    border-bottom: 3px solid white;
    border-right:3px solid white;
}
.block:nth-child(3) {
  
    border-right:3px solid white;
}
.block:nth-child(4) {
    border-bottom: 3px solid white;
    border-right:3px solid white;
}
.block:nth-child(5) {
    border-bottom: 3px solid white;
    border-right:3px solid white;
}
.block:nth-child(6) {
   
    border-right:3px solid white;
}
.block:nth-child(7) {
   
    border-bottom:3px solid white;
}
.block:nth-child(8) {
   
    border-bottom:3px solid white;
}

.block > .symbol-O{
position: absolute;
  font-size: 140px;
  font-weight: 600;
  margin: 0;

  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) ;
  
}
.block > .symbol-X{
  position: absolute;
  font-size: 140px;
  font-weight: 600;
  margin: 0;


  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) ;
}

.scores {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 600px;
  color: white;
  margin-left: -300px;
  margin-top: 280px;
  text-align: center;
  cursor: pointer;
  

}

.scores p {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1;
  display: inline-block;
  margin: 0;
  padding: 0;
 
}

.scores .swap {
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 30px;
  margin: -5px -30px 0 0;
  opacity: 0.4;
  cursor: pointer;
 
}

.scores:hover .swap {
  opacity: 1;
}

.scores .score-1,
.score-2,
.score {
  font-size: 30px;
  display: block;
  height: 50px;
  padding: 10px 0 0 0;
  color: white;
  will-change: transform;

} 



.scores .o {
  display: inline-block;
  width: 13px;
  height: 13px;
  border-width: 2px;
  margin: 1px;

}

.scores .x {
  display: inline-block;
  width: 17px;
  height: 17px;

}

.scores .x:before,
.scores .x:after {
  top: 2px;
  left: auto;
  margin-left: 8px;
  width: 2px;
  height: 17px;
}

.player1,
.player2 {
  width: 230px;
  white-space: nowrap;
}

.scores.p1 .p2 {
  display: none;
}

.scores.p2 .p1 {
  display: none;
}

.scores .turn {
  opacity: 0.4;
}

