#game{
    width: 400px;
    height: 400px;
    background-color: thistle;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
     margin: 0 auto; 
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.block{
    width: 120px;
    height: 120px;
    background: turquoise;
    border: 1px solid black;
    box-sizing: border-box;
    line-height: 50px;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 50px;
    text-transform: uppercase;
}