html {
  font-family: sans-serif;
}
body {
  background-color: black;
}
.header {
  width: 100%;
  margin: 0;
  /* position: absolute; */
  top: 0;
}
main {
  position: relative;
  display: flex;

  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

main img {
  overflow: hidden;
}
#game {
  width: 500px;
  height: 500px;
  background-color: black;
  display: flex;

  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.block {
  width: 160px;
  height: 160px;
  background: black;
  position: relative;

  /* box-sizing: border-box; */
  line-height: 50px;
  text-align: center;
  align-content: center;
  color: white;

  font-size: 50px;
  text-overflow: clip;
  text-transform: uppercase;
  text-align: center;
}

.block:nth-child(1) {
  border-bottom: 3px solid white;
  border-right: 3px solid white;
}
.block:nth-child(2) {
  border-bottom: 3px solid white;
  border-right: 3px solid white;
}
.block:nth-child(3) {
  border-right: 3px solid white;
}
.block:nth-child(4) {
  border-bottom: 3px solid white;
  border-right: 3px solid white;
}
.block:nth-child(5) {
  border-bottom: 3px solid white;
  border-right: 3px solid white;
}
.block:nth-child(6) {
  border-right: 3px solid white;
}
.block:nth-child(7) {
  border-bottom: 3px solid white;
}
.block:nth-child(8) {
  border-bottom: 3px solid white;
}

.block > .symbol-O {
  position: absolute;
  font-size: 140px;
  font-weight: 600;
  margin: 0;

  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.block > .symbol-X {
  position: absolute;
  font-size: 140px;
  /* font-weight: 600;  */
  margin: 0;

  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.scores {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 600px;
  color: white;
  margin-left: -300px;
  margin-top: 280px;
  text-align: center;
  cursor: pointer;
}

.scores p {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.scores .swap {
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 30px;
  margin: -5px -30px 0 0;
  opacity: 0.4;
  cursor: pointer;
}

.scores:hover .swap {
  opacity: 1;
}

.scores .score-1,
.score-2,
.score {
  font-size: 30px;
  display: block;
  height: 50px;
  padding: 10px 0 0 0;
  color: white;
}

.scores .symbol-O {
  display: inline-block;
  width: 13px;
  height: 13px;
  border-width: 2px;
  margin: 1px;
}

.scores .symbol-X {
  display: inline-block;
  width: 17px;
  height: 17px;
}

.scores .symbol-X:before,
.scores .symbol-X:after {
  top: 2px;
  left: auto;
  margin-left: 8px;
  width: 2px;
  height: 17px;
}

.player1,
.player2 {
  width: 230px;
  white-space: nowrap;
}

.scores.p1 .p2 {
  display: none;
}

.scores.p2 .p1 {
  display: none;
}

.scores .turn {
  opacity: 0.4;
}

@media (max-width: 630px), (max-height: 800px) {
  .game {
    width: 450px;
    height: 450px;
    margin-left: -225px;
    margin-top: -300px;
  }
}

@media (max-width: 540px), (max-height: 560px) {
  .game {
    width: 300px;
    height: 300px;
    margin-left: -150px;
    margin-top: -215px;
  }

  .square {
    border-width: 2px;
  }
  .square .symbol-O {
    border-width: 10px;
  }
}

@media (max-height: 490px) {
  .game {
    top: 40px;
    margin-top: 10px;
  }
  .scores {
    top: 380px;
    margin-top: 10px;
    padding-bottom: 20px;
  }
}

@media (max-height: 450px) {
  .game {
    top: 20px;
    margin-top: 10px;
  }
  .scores {
    top: 300px;
    margin-top: 10px;
    padding-bottom: 20px;
  }
}

.logo-audio {
  position: absolute;
  width: 42px;
  height: 42px;
  right: 15px;
  right: calc(15px + constant(safe-area-inset-right));
  right: calc(15px + env(safe-area-inset-right));
  top: 15px;
  top: calc(15px + constant(safe-area-inset-top));
  top: calc(15px + env(safe-area-inset-top));
  opacity: 0.4;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  -webkit-transition: opacity 0.1s linear;
  -moz-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}

.logo-audio:hover {
  opacity: 1;
}
.logo {
  position: absolute;
  width: 40;
  height: 40;
  left: 6px;
  top: 6px;
  z-index: 100;
  border-radius: 50%;
  border: 2px solid #fff;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  pointer-events: none;
}
.logo > a > svg:hover {
  background: #009fff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ec2f4b,
    #009fff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ec2f4b,
    #009fff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.active {
  background-color: #d8d8d8;
  color: black;
}
